.dropbtn {
  background-color: #338;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #559;

}

#layout {
    margin-left: 100px;
    color: white;
}

label {
    margin-left: 75px;
    color: white;
}

#layout_name {
    margin-left: 50px;
    font-size: 40px;
}

#keys {
    margin-left: 50px;
    padding-top: 10px;
    padding-bottom: 50px;
    font-family: "Fira Code", monospace;
    font-size: 30px;
}

#start_generation_button {
    margin-left: 50px;
}

#temp {
    margin-left: 50px;
}

#score {
    margin-left: 50px;
}

#stats {
    margin-left: 75px;
}

.statistic {
    margin-left: 15px;
}

.datum {
    margin-left: 25px;
}

body {
    background-color: #202030
}
